.container {
    margin-bottom: 100px;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.cat1, .cat2, .cat3 {
    padding: 10px 20px;
    border-radius: 10px;
}

.cat1 {
    background-image: linear-gradient(to bottom, #fc4a1a, #f7b733);
}

.cat2 {
    background-image: linear-gradient(to bottom, #8E2DE2, #4A00E0);
}

.cat3 {
    background-image: linear-gradient(to bottom, #00F260, #0575E6);
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#contact {
    height: 300px;
}

#contact h6 {
    color: gray;
}

footer {
    text-align: center;
}